html,
body {
    background-color: rgb(33, 135, 161);
    height: 100%
}

.main {
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    text-align: center;
}

#prize {
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    visibility: hidden;
}

.guess li {
    float: left;
    background-color: rgb(33, 135, 161);
    margin-top: 50px;
}

.guess input[type=checkbox] {
    display: none;
}

.guess label {
    line-height: 80px;
    font-size: 40px;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: rgb(120, 90, 90);
    display: block;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    cursor: pointer;
    /* 停用選取
            https://rplus.github.io/blog/2013/02/03/disable-select/ */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* IE 10 */
    user-select: none;
}

ul.nav li {
    float: left;
}

ul.nav button {
    height: 80px;
    display: block;
    box-sizing: border-box;
    background-color: #64d185;
    /* opacity: 80%; */
    border: 1px dashed orange;
    cursor: pointer;
    /* 停用選取
            https://rplus.github.io/blog/2013/02/03/disable-select/ */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* IE 10 */
    user-select: none;
}

ul.nav button:hover {
    background-color: #0acd45;
}

h1 {
    clear: both;
}

#ans {
    visibility: hidden;
    clear: both;
}

.introduction {
    text-align: center;
    margin-top: 50px;
}

p.introduction {
    font-size: 20px;
}